/* Impaginazione */
.my-container{
    width: 70vw;
    margin: 0 auto;
}

.my-btn{
    border: 1px solid white;
    border-radius: 5px;
}


/* Debug */
.debug{
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid black
}